<!doctype html>
<html class="h-full">
  <head>
    <meta charset="UTF-8" />
    <title>Wearable Device Evaluation</title>
    <script src="https://unpkg.com/htmx.org@1.9.7"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <link rel="stylesheet" href="/static/output.css">
  </head>
  <style></style>
  <body class="h-full">
    <div class="min-h-full">
        <!-- content -->
        {% block nav %} 
          {% include "layouts/nav.html" %}
        {% endblock %}
      <div class="py-10 space-y-10">
        <!-- header -->
        {% block header %} {% include "layouts/header.html" %} {% endblock %}

        <!-- content -->
        {% block content %} {% endblock %}

        <!-- footer -->
        {% include "layouts/footer.html" %}
      </div>
    </div>
  </body>
</html>
