actr7.x/commands
actr7.x/docs
actr7.x/extras
actr7.x/load-single-threaded-act-r.lisp
actr7.x/readme.txt
actr7.x/tools
actr7.x/core-modules
actr7.x/environment
actr7.x/framework
actr7.x/modules
actr7.x/recompile-act-r.lisp
actr7.x/tutorial
actr7.x/devices
actr7.x/examples
actr7.x/load-act-r.lisp
actr7.x/other-files
actr7.x/support
quicklisp
*.fasl
*~
__pycache__
