{% extends "layouts/default.html" %}
{% block content %}
<div class="px-4 py-2 my-2 text-center">
 <img src="https://i.imgur.com/nYA6oUS.png" width=100>
  <h1 class="display-5 fw-bold">사용성 평가</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">웨어러블 디바이스의 사용성 평가</p>
  </div>
</div>
<div id="btn-more" class="d-grid gap-2 col-3 mx-auto">
  <button class="btn btn-primary" hx-get="/usability" hx-target="#usability-result" hx-swap="innerHTML"
    hx-on::after-request="document.getElementById('usability-result-fig').style.display='block'" hx-indicator="#spinner">시작</button>
</div>
<div id="usability-result">
</div>
<img id="usability-result-fig" src="fig" style="display: none"/>
{% endblock %}
